body{
	margin:0;
	padding:0;
}
.container{
	width:90%;
	margin:10px auto;
} 
.portfolio-menu{
	text-align:center;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.portfolio-item{
	display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
 .item{
	/*width:303px;*/
	float:left;
	margin-bottom:15px;
	flex: 1 1 calc(25% - 20px); /* Adjust 25% for 4 items per row, subtract gap to account for spacing */
    box-sizing: border-box; 
}
.item img {
    margin-bottom: 10px;  /* This applies only to images within elements with class 'item' */
	width: 100%;  /* Ensures each image fills the column width */
}

